--extra-index-url https://download.pytorch.org/whl/cpu
fastapi==0.115.0
uvicorn[standard]==0.30.6
gunicorn==21.2.0
boto3==1.40.47
transformers==4.57.0
accelerate==1.10.1
torch==2.3.1+cpu
sentencepiece==0.2.1
tokenizers==0.22.1
safetensors==0.6.2
numpy==1.26.4
regex==2024.9.11
pydantic==2.12.0
python-multipart==0.0.9
pypdf==4.2.0
langdetect==1.0.9
